<html>
  <head>
    <title>ftlFiddle</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
  </head>
  <body>
    <h1>ftlFiddle</h1>
    <div id="main">
      <div id="editArea">
        <textarea>
&lt;#assign values=[&quot;foo&quot;,&quot;bar&quot;,&quot;buzz&quot;]&gt;
&lt;#list values as value&gt;
index ${value_index} : ${value}
&lt;/#list&gt;
	</textarea>
      </div>
      <div id="previewArea">
        <textarea readonly="true"></textarea>
      </div>
    </div>

    <script>
    function delay() {
        var timer = 0;
        return function(callback, ms) {
	    clearTimeout (timer);
	    timer = setTimeout(callback, ms);
	};
    }

    function preview() {
	$.ajax({
		url : "./templateResult",
		data : {source:$("#editArea").children("textarea").val()}
	}).done(function(response){
		$("#previewArea").children("textarea").val(response);
		
	}).fail(function(data) {
		console.log("failed to get result");
	});
    }

    $('textarea').bind('keyup', function() {
	delay(preview(), 1000);
    });
    
    //onload
    preview();
    </script>
  </body>
</html>
